@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Sono';
  min-height: 100%; }

#head {
  top: 0;
  position: sticky; }

.nav-top {
  display: flex;
  width: 100%;
  height: 65px;
  padding: 0 50px;
  align-items: center;
  background-color: lightblue; }
  .nav-top h1 {
    margin: 0 auto;
    text-align: center; }
  .nav-top .cart-btn {
    background-color: lightblue;
    border: none;
    color: white;
    cursor: pointer; }
  .nav-top .notify-bubble {
    position: absolute;
    top: 6px;
    right: 82px;
    padding: 2px 5px 2px 6px;
    background-color: green;
    color: white;
    font-size: 0.7em;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
    display: none; }

.nav-but {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-top: 10px;
  padding: 2px 5px;
  border: none;
  color: white;
  transition: all 0.5s ease; }
  .nav-but:hover {
    color: black; }

.nav-bot {
  width: 100%;
  height: 45px;
  padding: 0 50px;
  align-self: flex-start;
  background-color: lightcoral; }
  .nav-bot ul {
    display: flex;
    height: 45px; }
    .nav-bot ul li {
      list-style: none;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      padding: 12px 10px 0 10px;
      padding-top: 12px;
      transition: all 0.5s ease; }
      .nav-bot ul li:hover {
        background-color: lightblue; }

.cart-section {
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%); }
  .cart-section .cart-model {
    display: none;
    position: relative;
    background-color: white;
    min-width: 850px;
    padding: 14px;
    border-radius: 5px;
    border: 3px solid grey; }
    .cart-section .cart-model .cart-top {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid black;
      margin-bottom: 2rem; }
      .cart-section .cart-model .cart-top .btn-close-cart {
        font-weight: 500;
        margin-bottom: 20px;
        width: 50px;
        border: none;
        border-radius: 15px;
        padding: 7px;
        background-color: #af3737;
        transition: all 0.5s; }
        .cart-section .cart-model .cart-top .btn-close-cart:hover {
          background-color: #8d2c2c;
          color: white; }
    .cart-section .cart-model .lens-mag {
      width: 30px;
      height: 30px; }
    .cart-section .cart-model .del-btn {
      float: right;
      font-weight: 500;
      width: 50px;
      border: none;
      border-radius: 15px;
      padding: 7px;
      margin-top: 5px;
      margin-bottom: 2rem;
      background-color: #af3737;
      transition: all 0.5s; }
      .cart-section .cart-model .del-btn:hover {
        background-color: #8d2c2c;
        color: white; }
    .cart-section .cart-model .btn-go-ticket {
      font-weight: 500;
      margin-right: 10px;
      margin-bottom: 20px;
      width: 82px;
      border: none;
      border-radius: 7px;
      padding: 7px;
      background-color: #2c8d51;
      transition: all 0.5s; }
      .cart-section .cart-model .btn-go-ticket:hover {
        background-color: #206b3d;
        color: white; }
  .cart-section .final-ticket {
    display: none;
    position: relative;
    min-width: 850px;
    padding: 14px;
    border-radius: 5px;
    background-color: white;
    border: 3px solid grey; }
    .cart-section .final-ticket .item-on-ticket {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-auto-columns: 1fr;
      gap: 1px 0px;
      grid-auto-flow: row; }
    .cart-section .final-ticket .ticket-names {
      grid-area: 1 / 1 / 2 / 3; }
    .cart-section .final-ticket .ticket-prices {
      grid-area: 1 / 2 / 2 / 3; }
  .cart-section .btn-close-ticket {
    font-weight: 500;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 7px;
    background-color: #af3737;
    transition: all 0.5s; }
    .cart-section .btn-close-ticket:hover {
      background-color: #8d2c2c;
      color: white; }
  .cart-section .btn-buy {
    font-weight: 500;
    margin-top: 20px;
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 7px;
    background-color: #2c8d51;
    transition: all 0.5s; }
    .cart-section .btn-buy:hover {
      background-color: #206b3d;
      color: white; }

.productoDelCarro {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }
  .productoDelCarro::before {
    content: '';
    border-left: 5px solid #e6adad;
    height: 20px; }
  .productoDelCarro p {
    margin-top: 10px; }
  .productoDelCarro .mag {
    width: 35px;
    height: 20px; }
  .productoDelCarro .mini {
    width: 150px;
    height: 50px;
    border: 1px solid gray; }

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../media/guy-glasses-2.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .welcome a {
    color: black;
    text-decoration: none; }
  .welcome .mid-title {
    align-self: center;
    padding-right: 50rem;
    padding-bottom: 1rem;
    font-size: 3rem; }
  .welcome .sub-text {
    padding-right: 50rem; }
  .welcome .btn {
    border: none;
    width: 100px;
    border-radius: 100px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-right: 50rem;
    background-color: #F0B667;
    transition: all 0.5s; }
    .welcome .btn:hover {
      background-color: #b17f39; }

.middle {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../media/guy-glasses-3.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .middle .mid-title {
    align-self: center;
    padding-left: 50rem;
    padding-bottom: 1rem;
    font-size: 3rem; }
  .middle .sub-text {
    padding-left: 50rem; }
  .middle .btn {
    border: none;
    width: 100px;
    border-radius: 100px;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-left: 50rem;
    background-color: #d1d1d1;
    transition: all 0.5s; }
    .middle .btn:hover {
      background-color: #8a8a8a; }
  .middle a {
    color: black;
    text-decoration: none; }

.offer {
  display: block;
  height: 40vh;
  background-color: #f3c380; }
  .offer .mid-title {
    text-align: center;
    padding-top: 122px;
    font-size: 2rem; }
  .offer .sub-text {
    text-align: center;
    margin-top: 50px; }

.catalogue {
  padding: 5rem;
  background-color: #e9e9e9; }
  .catalogue .container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas: "search main-product"; }
  .catalogue .search {
    display: flex;
    flex-direction: column;
    grid-area: search; }
    .catalogue .search .search-btn {
      width: 64%;
      text-align: center;
      margin-bottom: 5px;
      padding-left: 10px;
      font-size: 1.4rem;
      text-decoration: none;
      color: white;
      background-color: #2c8d51; }
      .catalogue .search .search-btn:hover {
        background-color: #206b3d; }
    .catalogue .search .active {
      background-color: #206b3d; }
  .catalogue .main-product {
    background-color: white;
    width: 100%;
    grid-area: main-product;
    padding-left: 3rem; }
    .catalogue .main-product label {
      display: inline-block;
      margin: 1rem 0rem 2rem 0;
      text-align: end;
      font-size: 1.5rem; }
    .catalogue .main-product select {
      border: none;
      border-radius: 5px;
      padding: 0.5rem;
      background-color: rgba(128, 128, 128, 0.329);
      cursor: pointer; }
    .catalogue .main-product .card .card-image {
      display: flex;
      flex-direction: column; }
      .catalogue .main-product .card .card-image .card-title {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 30px; }
      .catalogue .main-product .card .card-image img {
        width: 200px;
        height: 200px;
        margin: 0px 63px 40px 0px;
        border: 4px solid grey;
        border-radius: 5px; }
      .catalogue .main-product .card .card-image p {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px; }
      .catalogue .main-product .card .card-image .add-btn {
        width: 110px;
        font-weight: 500;
        border: none;
        border-radius: 15px;
        padding: 7px;
        margin-bottom: 2rem;
        background-color: #37af65;
        transition: all 0.5s; }
        .catalogue .main-product .card .card-image .add-btn:hover {
          background-color: #2c8d51;
          color: white; }
    .catalogue .main-product .hide {
      display: none; }

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh; }
  .contact .contact-h {
    margin-top: 100px;
    text-decoration: underline; }
  .contact form {
    padding: 2rem;
    display: inline-block; }
    .contact form .form-group {
      margin: 0 auto 1.25rem auto;
      padding: 0.25rem; }
    .contact form .form-control {
      display: block;
      width: 100%;
      height: 2.4rem;
      padding: 0.39rem 0.78rem;
      border: 1px solid #ced4da;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    .contact form label {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      margin-bottom: 0.5rem; }
    .contact form input {
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      line-height: inherit; }
    .contact form .input-radio {
      display: inline-block;
      margin-right: 0.6rem;
      min-height: 1.25rem;
      min-width: 1.25rem; }
    .contact form .input-checkbox {
      display: inline-block;
      margin-right: 0.6rem;
      min-height: 1.25rem;
      min-width: 1.25rem; }
    .contact form .input-textarea {
      min-height: 120px;
      width: 100%;
      resize: vertical;
      padding: 0.6rem;
      font-family: inherit; }
    .contact form .submit-button {
      display: block;
      width: 100%;
      padding: 0.8rem;
      color: white;
      background: #F0B667;
      border-radius: 2px;
      cursor: pointer;
      border: none;
      transition: all 0.5s; }
      .contact form .submit-button:hover {
        background: #b17f39; }

.catalogue-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 0px;
  grid-template-areas: ". . ." ". . ."; }

@media only screen and (max-width: 1245px) {
  .html, body {
    overflow-x: hidden; }
  .welcome .mid-title, .welcome .sub-text {
    padding-right: 40rem; }
  .welcome .mid-title {
    font-size: 45px; }
  .welcome .btn {
    margin-right: 40rem; }
  .middle .mid-title {
    font-size: 45px; }
  .middle .sub-text {
    font-size: 13px; }
  .catalogue .search {
    padding-right: 30px; }
    .catalogue .search .search-btn {
      width: 100%;
      height: 40px;
      padding-right: 10px; } }

@media only screen and (max-width: 420px) {
  .html, body {
    overflow-x: hidden;
    border: 1px solid red !important; }
  .welcome {
    height: 50vh; }
    .welcome .mid-title, .welcome .sub-text {
      padding: 0; }
    .welcome .mid-title {
      font-size: 32px; }
    .welcome .sub-text {
      font-size: 13px; }
    .welcome .btn {
      margin: 0; }
  .cart-section .cart-model {
    min-width: 350px; }
    .cart-section .cart-model .cart-top {
      font-size: 14px; }
      .cart-section .cart-model .cart-top h3 {
        display: none; }
  .middle {
    height: 50vh;
    background-image: none; }
    .middle .mid-title, .middle .sub-text {
      padding-left: 0; }
    .middle .btn {
      margin-left: 0; }
  .catalogue {
    padding: 0; }
    .catalogue .search {
      padding-right: 0; }
    .catalogue .main-product {
      padding-left: 2rem; }
      .catalogue .main-product label {
        margin: 1rem 0rem 0rem 0rem; }
      .catalogue .main-product select {
        margin-bottom: 1rem; }
      .catalogue .main-product .card .card-image .card-title {
        font-size: 20px; }
      .catalogue .main-product .card .card-image img {
        width: 147px;
        height: 147px; }
    .catalogue .container .catalogue-container {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 1px 0px;
      grid-template-areas: "." "." "."; } }
