.catalogue-container{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1px 0px; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
}