.offer{
    display: block;
    height: 40vh;
    background-color: #f3c380;

    .mid-title{
        text-align: center;
        padding-top: 122px;
        font-size: 2rem;
    }

    .sub-text{
        text-align: center;
        margin-top: 50px;
    }
}